/* Resetar márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    background-color: #333;
    height: auto;
}


/* Estilo del Contenedor Principal */
.main-container {
    display: flexbox;
    margin: 3rem 5rem;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}


/* Estilo del Encabezado */
.main-container header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #4CAF50;
    color: white;
    font-size: 2em;
    border-radius: 1.5rem 1.5rem 0 0;
    position: sticky;
    top: 0;
    padding: 3rem 0;
    z-index: 1000;
    overflow-y: hidden;
}


/* Estilo del Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 8vh;
    padding-left: 2rem;
}

/* Estilo del Menu */
.menu {
    display: flex;
    width: 50%;
    height: 8vh;
    align-items: center;
    justify-content: right;
    padding-right: 2rem;
}

.menu__nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu__nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 1rem 1rem;
    transition: background-color 0.3s ease;
}


/* Estilo del contenido de cada sección de la página */
.menu__seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


/* Estilo del Contenido Principal (Inicio) */
#inicio {
    background-image: url('../img/all-bong-L2oedF1AsH8-unsplash.jpg');
    background-size:cover;
    background-position: center;
    padding: 10rem 0;
}

